<div id="accountSidebar" class="sidebar">
    <!-- Sidebar content -->
    <a class="closebtn" href="javascript:void(0)" onclick="closeSidebar()">
        <i class="fa-solid fa-circle-xmark"></i>
    </a>
    <div class="sidebar-content">
        <h2 class="mb-5">ACCOUNT</h2>
        <div class="m-md-3">
            <div class="py-3">
                <a class="label" href="/login">LOG IN</a>
            </div>
            <div class="py-3">
                <a class="label" href="javascript:void(0)" onclick="closeSidebar()">MY ORDERS</a>
            </div>
            <div class="py-3">
                <a class="label" href="javascript:void(0)" onclick="closeSidebar()">ACCOUNT SETTINGS</a>
            </div>
            <div class="py-3">
                <a class="label" href="javascript:void(0)" onclick="closeSidebar()">WALLET</a>
            </div>
            <div class="py-3">
                <a class="label" href="javascript:void(0)" onclick="closeSidebar()">SAVED ITEMS</a>
            </div>
        </div>
    </div>
</div>