<nav>
    <ul>
        <li style="border-top: 0;"><a href="#"><span class="material-symbols-sharp">
                home
                </span></a></li>
        <!-- dashboard -->
        <li><a href="#"><span class="material-symbols-sharp">
            bar_chart_4_bars
            </span></a>
            </li>
        <!-- orders -->
        <li><a href="#"><span class="material-symbols-sharp">
            deployed_code
            </span></a></li>
        <!-- products -->
        <li><a href="#"><span class="material-symbols-sharp">
            conveyor_belt
            </span></a></li>
        <!-- customers -->
        <li><a href="#"><span class="material-symbols-sharp">
            user_attributes
            </span></a></li>
    </ul>
    <ul>
        <!-- settings -->
        <li><a href="#"><span class="material-symbols-sharp">
            manage_accounts
            </span></a></li>
        <!-- logout -->
        <li><a href="#"><span class="material-symbols-sharp">
            logout
            </span></a></li>
    </ul>
</nav>