<div id="contactSidebar" class="sidebar">
    <!-- Sidebar content -->
    <a class="closebtn" href="javascript:void(0)" onclick="closeSidebar()">
        <i class="fa-solid fa-circle-xmark"></i>
    </a>
    <div class="sidebar-content">
        <h2 class="mb-5">CONTACT US</h2>
        <div class="my-5">
            <div class="my-3">
                <a href="javascript:void(0)" onclick="closeSidebar()">
                    <i class="fa-solid fa-phone" style="margin-right: 16px;"></i>
                    <span class="fw-bold">CALL US +1.877.482.2430</span> 
                </a>
            </div>
            <div class="my-3">
                <div>Monday - Saturday from 9 AM to 7 PM (EST).</div>
                <div>Sunday from 10 AM to 3 PM (EST).</div>
            </div>
        </div>
        <div class="my-5">
            <div class="my-3">
                <a href="javascript:void(0)" onclick="closeSidebar()">
                    <i class="fa-solid fa-envelope" style="margin-right: 16px;"></i>
                    <span class="fw-bold">EMAIL US</span>
                </a>
            </div>
        </div>
        <div class="my-5">
            <div class="my-3">
                <div class="fs-5 mb-3 text-center">Other ways to find us:</div>
                <div class="d-flex justify-content-between">
                    <button class="brandBtn" onclick="window.location.href='https://www.instagram.com/global_scensations?igsh=MTFub2RvNWNleDBzYw=='"><i class="fa-brands fa-instagram"></i></button>
                    <button class="brandBtn" onclick="window.location.href='https://www.facebook.com/profile.php?id=61561899157947&mibextid=ZbWKwL'"><i class="fa-brands fa-facebook"></i></button>
                    <button class="brandBtn" onclick="window.location.href='https://www.tiktok.com/@globalscentsation?_t=8ndRmFtawLP&_r=1'"><i class="fa-brands fa-tiktok"></i></button>
                    <button class="brandBtn" onclick="window.location.href='https://youtube.com/@globalscentsations?si=F6c51iHm6t0yzU18'"><i class="fa-brands fa-youtube"></i></button>
                </div>
            </div>
        </div>
        <div class="my-5 fs-3">
            <div class="mb-4">Do you need further assistance?</div>
            <a class="label" href="javascript:void(0)" onclick="closeSidebar()">Get in Contact with Us</a>
        </div>
    </div>
</div>