<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="footer-col">
            <h4>company</h4>
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Leadership</a></li>
                <li><a href="">Newsroom</a></li>
                <li><a href="">Our Blog</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Our Services</h4>
            <ul>
                <li><a href="">Women's Perfumes</a></li>
                <li><a href="">Men's Perfurmes</a></li>
                <li><a href="">Unisex Perfumes</a></li>
                <li><a href="">Merchandise Shop</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Support</h4>
            <ul>
                <li><a href="">Support Center</a></li>
                <li><a href="">Feedback</a></li>
            </ul>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1234.8228472648393!2d7.620455931374453!3d46.75280543863601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478fb2c38e066587%3A0x675bc2695936e5f7!2zU3BvcnRhbmxhZ2UsIFBlc3RhbG96emlzdHJhc3NlIDI1LCAzNjAwIFRodW4sINep15XXldeZ15nXpQ!5e0!3m2!1siw!2sil!4v1718638560909!5m2!1siw!2sil" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="bottun-bar">
        <p>&copy; 2024 GlobalScentsations Ltd. All rights reserved</p>
    </div>
    <br> <hr> <br>
    <div class="socials">
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-tiktok"></i></a>
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
    </div>
</body>
</html>