<div id="menuSidebar" class="sidebar">
    <!-- Sidebar content -->
    <a class="closebtn" href="javascript:void(0)" onclick="closeSidebar()">
        <i class="fa-solid fa-circle-xmark"></i>
    </a>
    <div class="sidebar-content">
        <div>
            <div class="py-3">
                <a class="label" href="javascript:void(0)" onclick="closeSidebar()">New In</a>
            </div>
            <div class="py-3">
                <a class="label" href="javascript:void(0)" onclick="closeSidebar()">Woman</a>
            </div>
            <div class="py-3">
                <a class="label" href="javascript:void(0)" onclick="closeSidebar()">Men</a>
            </div>
            <div class="py-3">
                <a class="label" href="javascript:void(0)" onclick="closeSidebar()">Unisex</a>
            </div>
            <div class="py-3 mt-5 border-top">
                <a href="/login">Log In</a>
            </div>
            <div class="py-3">
                <a href="javascript:void(0)" onclick="closeSidebar()">My Orders</a>
            </div>
            <div class="py-3">
                <a href="javascript:void(0)" onclick="closeSidebar()">Contact Us</a>
            </div>
            <div class="py-3">
                <a href="javascript:void(0)" onclick="closeSidebar()">+1 8774822430</a>
            </div>
        </div>
    </div>
</div>