<nav class="navbar navbar-expand navbar-light bg-light fixed-top">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- contact -->
            <li class="nav-item">
                <a id="nav-contact" class="nav-link" href="javascript:void(0)" onclick="openSidebar('contactSidebar')">
                    <span class="material-symbols-sharp">perm_phone_msg</span>
                    <span>Contact Us</span>
                </a>
            </li>
        </ul>
        <a class="navbar-brand" href="/">Perfume Shop</a>
        <ul class="navbar-nav nav-right">
            <!-- shopping cart -->
            <li class="nav-item">
                <a id="nav-shopping-bag" class="nav-link" href="/viewCart">
                    <span class="material-symbols-sharp">shopping_bag</span>
                </a>
            </li>
            <!-- account -->
            <li class="nav-item">
                <a id="nav-account" class="nav-link" href="javascript:void(0)" onclick="openSidebar('accountSidebar')">
                    <span class="material-symbols-sharp">account_circle</span>
                </a>
            </li>
            <!-- menu -->
            <li class="nav-item">
                <a id="nav-menu" class="nav-link" href="javascript:void(0)" onclick="openSidebar('menuSidebar')">
                    <span class="material-symbols-sharp">menu</span>
                    <span id="nav-menu-text">MENU</span>
                </a>
            </li>
        </ul>
    </div>
</nav>