<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">My Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a id="nav-home" class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a id="nav-products" class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a id="nav-about" class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
                <a id="nav-contact" class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewCart"><i class="fas fa-shopping-bag"></i></a>
            </li>
        </ul>
    </div>
</nav>