<!DOCTYPE html>
<html lang="en">
<head>
    <title>shop</title>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <!-- admin page css -->
    <link rel="stylesheet" href="/css/admin.css">
    <!-- admin page js -->
    <script type="text/javascript" src="/js/admin.js"></script>
    <!-- dashboard js -->
    <script type="text/javascript" src="/js/admin_dashboard.js"></script>
    <!-- D3.js library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <div id="navbar-placeholder"></div>
    <div id="main-content">
        <h1>Dashboard</h1>
        <div class="my-4">
            <form class="border-bottom pb-2 mb-3">
                <div class="input-group m-3">
                    <label class="form-label" for="stockRange">Date Range</label>
                    <select class="form-select" id="stockRange" name="stockRange">
                        <option value="2" selected>last 30 days</option>
                        <option value="1">last week</option>
                        <option value="3">last 180 days</option>
                        <option value="4">last year</option>
                        <option value="5">last 2 years</option>
                        <option value="6">all</option>
                    </select>
                </div>
                <div class="p-2 w-100">
                    <button class="btn btn-outline-secondary" type="submit">Filter</button>
                    <button class="btn btn-outline-secondary mx-3" id="resetBtn">Reset</button>
                </div>
            </form>
            <div id="graph-sales" style="width: 100%;height: auto;overflow-x: auto;box-sizing: border-box;">
                <div id="loadingIndicator" class="d-none">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div id="loadTxt" style="font-size: x-large; margin-left: 10px;">Loading</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>