<!DOCTYPE html>
<html lang="en">
<head>
    <title>shop</title>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <!-- admin page css -->
    <link rel="stylesheet" href="/css/admin.css">
    <!-- admin page js -->
    <script type="text/javascript" src="/js/admin.js"></script>
</head>
<body>
    <div id="navbar-placeholder"></div>
    <div id="main-content">
        <h1>Customers</h1>
    </div>
</body>
</html>