<!DOCTYPE html>
<html lang="en">
<head>
    <title>shop</title>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <!-- admin page css -->
    <link rel="stylesheet" href="/css/admin.css">
    <!-- admin page js -->
    <script type="text/javascript" src="/js/admin.js"></script>
    <!-- dashboard js -->
    <script type="text/javascript" src="/js/admin_dashboard.js"></script>
    <!-- D3.js library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <div id="navbar-placeholder"></div>
    <div id="main-content">
        <h1>Dashboard</h1>
        <div class="my-4">
            <form class="border-bottom pb-2 mb-3">
                <div class="input-group m-3">
                    <label class="form-label" for="dateRange">Date Range</label>
                    <select class="form-select" id="dateRange" name="dateRange">
                        <option id="custom">Manual</option>
                        <option id="lastWeek" dateUnit="yearMonthDay">last week</option>
                        <option id="lastMonth" dateUnit="yearMonthDay">last month</option>
                        <option id="lastQuarter" dateUnit="yearWeek">last quarter</option>
                        <option id="lastHalfYear" dateUnit="yearWeek">last half year</option>
                        <option id="lastYear" dateUnit="yearMonth">last year</option>
                        <option id="last2Years" dateUnit="yearMonth">last 2 years</option>
                        <option id="allTime" dateUnit="yearMonth" selected>all time</option>
                    </select>
                    <div id="customDateRange" class="d-none">
                        <div class="input-group m-3">
                            <label class="form-label" for="startDate">From date (MM/DD/YYYY)</label>
                            <input type="date" class="form-control" name="startDate" id="startDate">
                        </div>
                        <div class="input-group m-3">
                            <label class="form-label" for="endDate">To date (MM/DD/YYYY)</label>
                            <input type="date" class="form-control" name="endDate" id="endDate">
                        </div>
                        <div class="input-group m-3">
                            <button type="button" class="btn btn-primary" id="applyDateRange">Apply</button>
                        </div>
                    </div>
                </div>
                <div class="input-group m-3 d-flex justify-content-start" style="max-height: 4rem;">
                    <label class="form-label" for="dateUnit">Date Unit</label>
                    <select class="form-select" id="dateUnit" name="dateUnit">
                        <option value="yearMonthDay">By Days</option>
                        <option value="yearWeek">By Weeks</option>
                        <option value="yearMonth" selected>By Months</option>
                    </select>
                </div>
            </form>
            <div id="graph-sales" style="width: 100%;height: auto;overflow-x: auto;box-sizing: border-box;"></div>
            <!-- Progress Bar -->
            <div class="progress" id="loadingBar">
                <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Loading...</div>
            </div>
        </div>
    </div>
    <div id="footer-placeholder"></div>
</body>
</html>
