<!DOCTYPE html>
<html lang="en">
    <head>
        <title>shop</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.x/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
        <script type="text/javascript" src="/js/login.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/emptyCart.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">

    </head>

    <body onload="CheckLogin()">
        <script>
            async function CheckLogin() {
                const cartIdResponse = await fetch('/api/cart');
                if (!cartIdResponse.ok) {
                    throw new Error(`HTTP error! status: ${cartIdResponse.status}`);
                }
                const cartIdData = await cartIdResponse.json();
                
                console.log('Cart ID from server:', cartIdData.cartId);
                console.log('Is loged-in from server:', cartIdData.isLogedIn);

                const login_container = document.getElementById('login-container');
                if(cartIdData.isLogedIn === true) {
                    login_container.style.display = 'none';
                }
            }
        </script>



        <!-- navbar -->
        <nav id="navbar-placeholder">
            <ul class="navbar-nav"></ul>
        </nav>

        <div class="empty-cart-container">
            <h1 class="empty-cart-title">Your Cart is Empty</h1>
            
            <div class="empty-cart-message">
                <p id="message">It looks like you haven't added anything to your cart yet. Start shopping to fill it up!</p>
                <a href="/" class="continue-shopping-link">Continue Shopping</a>
            </div>
            <div class="empty-cart-actions">
                <a href="/">Browse Products</a>
                <a href="/about">Learn About Us</a>
            </div>

            <div class="login-container" id="login-container">
                <h2 class="login-title">You are not logged in.</h2>
                <a href="/login" class="login-link">Login</a>
            </div>
        </div>

    </body>

</html>