<!DOCTYPE html>
<html lang="en">
<head>
    <title>shop</title>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
    <!-- navbar -->
    <div id="navbar-placeholder"></div>

    <h1>Home</h1>
    <a href="/product/new-form">

    <button>Create Product</button>
    </a>

    
    <form action="/cart/create" method="post">
        <input type="hidden" name="customer_id" value="12345">
        <button type="submit">Create a cart</button>
    </form>
    
</body>
</html>