<!DOCTYPE html>
<html lang="en">
<head>
    <title>shop</title>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body onload="CheckLogin()">
    <script>
        async function CheckLogin() {
            const cartIdResponse = await fetch('/api/cart');
            if (!cartIdResponse.ok) {
                throw new Error(`HTTP error! status: ${cartIdResponse.status}`);
            }
            const cartIdData = await cartIdResponse.json();

            console.log('Cart ID from server:', cartIdData.cartId);
            console.log('Is loged-in from server:', cartIdData.isLogedIn);
            console.log('cartData', cartIdData.cart)
        }
    </script>
    <!-- navbar -->
    <div id="navbar-placeholder"></div>

    <div id="main-content" class="container-fluid">
        <style>
            .row {
                margin: 0;
            }
            .col-12 {
                padding: 0;
            }
        </style>
        <div class="row mb-3">
            <div class="col-12">
                <div id="summerCollection" class="section banner">
                    <div class="section-text">
                        <h1>Summer Collection 2024</h1>
                        <h2 class="mb-4">Get ready for the summer with our new collection</h2>
                        <button class="btn">DISCOVER MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3 p-0 p-md-2">
            <div class="col-12 col-md-6 p-2">
                <div id="menCollection" class="section">
                    <div class="section-text">
                        <h3 class="mb-4">MEN'S COLLECTION</h3>
                        <button class="btn">EXPLORE</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-2">
                <div id="womenCollection" class="section">
                    <div class="section-text">
                        <h3 class="mb-4">WOMEN'S COLLECTION</h3>
                        <button class="btn">EXPLORE</button>
                    </div>
                </div>
            </div>
            <div class="col-12 p-2">
                <div id="unisexCollection" class="section">
                    <div class="section-text">
                        <h3>UNISEX COLLECTION</h3>
                        <h4 class="mb-4">Express Yourself: Explore Our Gender-Neutral Collection</h4>
                        <button class="btn">EXPLORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="allCollection" class="section">
                    <div class="section-text">
                        <button class="btn">SHOP ALL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer-placeholder"></div>
</body>
</html>