<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>shop</title>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <!-- navbar -->
    <div id="navbar-placeholder"></div>

    <div id="main-content" class="container-fluid" style="padding-top: 3rem; font-family: 'Ralewa', sans-serif;">
        <!-- auth page -->
        <div class="auth px-3 px-md-5">
            <h1 class="py-3 mb-4">MY ACCOUNT</h1>
            <button class="brandBtn mb-4">
                <img 
                    src="https://cdn4.iconfinder.com/data/icons/logos-brands-7/512/google_logo-google_icongoogle-512.png" 
                    alt="google">
                <span>CONTINUE WITH GOOGLE</span>
            </button>
            <button class="brandBtn mb-4">
                <img 
                    src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-1024.png" 
                    alt="google">
                <span>CONTINUE WITH FACEBOOK</span>
            </button>
            <button class="brandBtn">
                <img 
                    src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_apple-1024.png" 
                    alt="google">
                <span>CONTINUE WITH APPLE</span>
            </button>
            <h5 class="my-4">OR</h5>
            <h2>CONTINUE WITH YOUR EMAIL ADDRESS</h2>
            <p class="mb-4">Sign in with your email and password or create a profile if you are new.</p>
            <form action="/login" method="post">
                <div id="email">
                    <input type="email" name="email" placeholder="EMAIL*" required>
                </div>
                <div id="password">
                    <input type="password" name="password" placeholder="PASSWORD*" required>
                </div>

                <button type="submit">CONTINUE</button>
            </form>
        </div>
    </div>
</body>
</html>
