<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="/css/userpage.css">
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/orderhistory.css">
</head>

<body>
    <div id="navbar-placeholder"></div>
    <div>
    <div class="container">
        
        <div id="main-content" class="container-fluid" style="padding-top: 0.5rem; font-family: 'Ralewa', sans-serif;">
            <div class="order-container">
               
                <div class="order-history">
                    <h2 class="mb-4">Order History</h2>
                    <div class="order-filters">
                    
                        <button class="filter-btn active" data-status="all">All Orders</button>
                        <button class="filter-btn" data-status="1">Pending</button>
                        <button class="filter-btn" data-status="2">Processed</button>
                        <button class="filter-btn" data-status="3">Delivered</button>
                    </div>
                    <div id="order-history"></div>
                    
                </div>
               
            </div>
        </div>
       
    </div>
   
</div>

<div id="footer-placeholder"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/orderhistory.js"></script>
</body>
</html>
