<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/userpage.css">
    <link rel="stylesheet" href="/css/auth.css">
    <style>
        #map {
            height: 500px;
            width: 100%;
            margin-top: 20px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
</head>
<body>
    <div id="navbar-placeholder"></div>
    <div id="main-content" class="container-fluid" style="font-family: 'Ralewa', sans-serif;">
        <div class="auth py-5 px-3">
            <h2 class="mb-3 mb-sm-4">Update Profile Settings</h2>
            <div class="profile-header">
                <img id="profilePicture" src="https://vectorified.com/images/no-profile-picture-icon-24.jpg" alt="Profile Picture">
                <h3 id="userName" class="mt-3"></h3>
            </div>
            <form id="user-form">
                <div class="mb-3 form-input">
                    <input type="text" id="firstName" name="firstName" placeholder=" " required>
                    <label for="firstName">First Name</label>
                </div>
                <div class="mb-3 form-input">
                    <input type="text" id="lastName" name="lastName" placeholder=" " required>
                    <label for="lastName">Last Name</label>
                </div>
                <div class="mb-3 form-input">
                    <textarea id="bio" name="bio" placeholder=" " rows="3"></textarea>
                    <label for="bio">Bio</label>
                </div>
                <div class="mb-3 form-input">
                    <input type="text" id="address" name="address" placeholder=" " required>
                    <label for="address">Address</label>
                </div>
                <div class="mb-3 form-input">
                    <input type="email" id="email" name="email" placeholder=" " readonly disabled>
                    <label for="email">Email</label>
                </div>
                <div class="mb-3 form-input">
                    <input type="password" id="password" name="password" placeholder=" ">
                    <label for="password">New Password</label>
                </div>
                <button type="submit" class="btn btn-block">Update Profile</button>
            </form>
            <gmp-map id="map" center="40.749933,-73.98633" zoom="13" map-id="DEMO_MAP_ID">
                <gmpx-place-picker id="place-picker" for-map="map"></gmpx-place-picker>
                <gmp-advanced-marker id="marker"></gmp-advanced-marker>
            </gmp-map>
        </div>
        <div id="popup" class="popup"></div>
        <div id="infowindow-content">
            <span id="place-name" class="title" style="font-weight: bold;"></span><br />
            <span id="place-address"></span>
        </div>
    </div>
    <script src="/js/userPage.js"></script>
</body>
</html>