<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Profile</title>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/userPage.js"></script>
    <link rel="stylesheet" href="/css/userpage.css">
    <link rel="stylesheet" href="/css/auth.css">
    
</head>
<body>
    <!-- navbar -->
    <div id="navbar-placeholder"></div>
    <div class="container">
        <div id="main-content" class="container-fluid" style="padding-top: 0.5rem; font-family: 'Ralewa', sans-serif;">
            <div class="auth px-3 px-md-5">
                <h2 class="mb-4">Update Profile Settings</h2>
                <div class="auth px-3 px-md-5">
                    <div class="profile-header">
                        <img id="profilePicture" src="https://vectorified.com/images/no-profile-picture-icon-24.jpg" alt="Profile Picture">
                        <h2 id="userName"></h2>
                    </div>
                    <form id="user-form">
                        <div class="mb-3 form-input">
                            <input type="text" id="firstName" name="firstName" placeholder=" ">
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="mb-3 form-input">
                            <input type="text" id="lastName" name="lastName" placeholder=" ">
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="mb-3 form-input">
                            <textarea id="bio" name="bio" placeholder=" " rows="3"></textarea>
                            <label for="bio">Bio</label>
                        </div>
                        <div class="mb-3 form-input">
                            <input type="text" id="address" name="address" placeholder=" ">
                            <label for="address">Address</label>
                        </div>
                        <div class="mb-3 form-input">
                            <input type="number" id="phoneNumber" name="phoneNumber" placeholder=" ">
                            <label for="phoneNumber">Phone Number</label>
                        </div>
                        <div class="mb-3 form-input">
                            <input type="email" id="email" name="email" placeholder=" ">
                            <label for="email">Email</label>
                        </div>
                        <div class="mb-3 form-input">
                            <input type="password" id="password" name="password" placeholder=" ">
                            <label for="password">New Password</label>
                        </div>
                        <button type="submit" class="btn btn-block">Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="popup" class="popup"></div>
    </div>
</body>
</html>