body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.descriptions {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.descriptions h1,
.descriptions p {
    text-align: center; /* Center the text in h1 and p */
}

.section {
    width: 48%;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10%;
    display: inline-block;
    text-align: center; /* Center the text in the sections */
}

.section#join_us {
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    text-align: center; /* Ensure all paragraphs are center-aligned */
}

.section-content {
    display: none;
}

.read-more {
    color: #007bff;
    cursor: pointer;
}

.read-more:hover {
    text-decoration: underline;
}

i {
    font-size: 36px;
}