/* table of contents */
/* 1. global         */
/* 2. navbar         */


/*********************/
/* 1.    global      */
/*********************/
body {
    padding: 0;
}

#main-content {
    height: 100vh;
    margin-left: 5rem;
}

.translateX-100 {
    transform: translateX(-100%) !important;
}

.translateX0 {
    transform: translateX(0%) !important;
}

/*********************/
/* 2.    navbar      */
/*********************/
#navbar-placeholder {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100vh;
    width: 5rem;
}

#menu-toggle {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(42, 42, 42);
    color: lightgray;
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}

#navbar-placeholder button {
    align-items: center;
    text-decoration: none;
    background-color: rgb(42, 42, 42);
    border: none;
    color: lightgray;
    padding: 1rem;
    width: 100%;
    height: 5rem;
    transform: translateX(0%);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
}

nav button, #menu-toggle {
    align-items: center;
    text-decoration: none;
    background-color: rgb(42, 42, 42);
    border: none;
    color: lightgray;
    padding: 1rem;
    width: 100%;
    height: 5rem;
    cursor: pointer;
}

#navbar-placeholder .material-symbols-sharp {
    display: inline-block;
    font-size: 3rem;
    color: lightgray;
    margin: 0;
    padding: 0;
}

#navbar-placeholder button:hover {
    background-color: gray;
}
#navbar-placeholder button:hover > .material-symbols-sharp{
    color: rgb(39, 39, 39);
}

#navbar-placeholder button.active {
    background-color: rgb(39, 39, 39);
}

#navbar-placeholder button.active > .material-symbols-sharp {
    color: rgb(39, 39, 39);
}

@media (max-width: 768px) {
    #main-content {
        margin-left: 0;
        margin-top: 4.5rem;
    }
    #menu-toggle {
        display: block;
    }
    #navbar-placeholder {
        width: 4rem;
    }
    nav {
        height: calc(100vh - 4.5rem);
    }
    #navbar-placeholder button {
        /* padding 1rem + 1rem + icon 2.5rem */
        height: 4.5rem; 
        padding: 1rem 0.5rem;
    }
    #navbar-placeholder .material-symbols-sharp {
        font-size: 2.5rem;
    }
}