/* table of contents */
/* 1. global         */
/* 2. navbar         */
/* 3. products       */


/*********************/
/* 1.    global      */
/*********************/
body {
    padding: 0;
    background-color: rgb(235, 235, 235);
}

#main-content {
    height: 100vh;
    width: calc(100% - 5rem);
    margin-left: 5rem;
    padding: 2rem;
    background-color: rgb(235, 235, 235);
}

#main-content > form,
#main-content > table,
#main-content > div {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

.translateX-100 {
    transform: translateX(-100%) !important;
}

.translateX0 {
    transform: translateX(0%) !important;
}

/*********************/
/* 2.    navbar      */
/*********************/
#navbar-placeholder {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100vh;
    width: 5rem;
}

#menu-toggle {
    display: none;
    border-bottom-right-radius: 20px;
    padding: 0.5rem !important;
    height: 3.5rem !important;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(42, 42, 42);
    color: lightgray;
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
}

nav button, 
nav a, 
#menu-toggle {
    align-items: center;
    text-decoration: none;
    background-color: rgb(42, 42, 42);
    border: none;
    color: lightgray;
    padding: 1rem;
    width: 100%;
    height: 5rem;
    cursor: pointer;
    transform: translateX(0%);
}

#navbar-placeholder .material-symbols-sharp {
    display: inline-block;
    font-size: 3rem;
    color: lightgray;
    margin: 0;
    padding: 0;
}

#navbar-placeholder button:hover,
#navbar-placeholder a:hover{
    background-color: gray;
}
#navbar-placeholder button:hover > .material-symbols-sharp,
#navbar-placeholder a:hover > .material-symbols-sharp {
    color: rgb(39, 39, 39);
}

.nav-active-link {
    background-color: black;
    color: white;
}

.nav-active-link > .material-symbols-sharp {
    color: white !important;
}

@media (max-width: 768px) {
    #main-content {
        margin-left: 0;
        padding: 1rem;
        width: 100%;
    }
    #main-content > h1 {
        margin-top: 3.5rem;
    }
    #menu-toggle {
        display: block;
    }
    #navbar-placeholder {
        width: 4rem;
    }
    nav {
        height: calc(100vh - 3.5rem);
    }
    #navbar-placeholder button,
    #navbar-placeholder a {
        /* padding 1rem + 1rem + icon 2.5rem */
        height: 4.5rem; 
        padding: 1rem 0.5rem;
    }
    #navbar-placeholder .material-symbols-sharp {
        font-size: 2.5rem;
    }
}

/*********************/
/* 3.  products      */
/*********************/

#loadingIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    max-height: 10rem;
}

#productsTable {
    width: 100%;
    height: auto;
    overflow-x: auto;
    box-sizing: border-box;
}

/*********************/
/* 4.  form          */
/*********************/
form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.input-group {
    max-width: 15rem;
}
.input-group label {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}