* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(#ffffff, #729e77);
}

div {
    padding-bottom: 2px;
}

p {
    width: 800px;
}

.contact-container {
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.contact-left-title {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    width: 400px;
    margin-bottom: 20px;
}

.input-container i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #666;
}

.contact-inputs {
    width: calc(100% - 45px); /* Adjusted to account for icon's space */
    height: 50px;
    border: none;
    padding-left: 45px;
    color: #666;
    border-radius: 50px;
}

.contact-left textarea {
    height: 180px;
    padding-top: 15px;
    padding-left: 45px;
    border-radius: 20px;
}

button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: #729e77;
    color: white;
    cursor: pointer;
}
