body {
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 30px;
}

hr {
    width: 90%;
    padding-right: 100px;
}

h1, #start {
    padding-left: 20px;
}

#start {
    margin-bottom: -10px;
}