<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/stylesheet.css">
</head>
<body>
    <div>
        <div class="footer-col">
            <h4>company</h4>
            <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Leadership</a></li>
                <li><a href="">Newsroom</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Support</h4>
            <ul>
                <li><a href="">Support Center</a></li>
                <li><a href="">Feedback</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Our Services</h4>
            <ul>
                <li><a href="">Women's Perfumes</a></li>
                <li><a href="">Men's Perfurmes</a></li>
                <li><a href="">Unisex Perfumes</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Follow Us</h4>
            <ul>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-instegram"></i></a></li>
                <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
            </ul>
        </div>
        <div class="bottun-bar">
            <p>&copy; 2024 our company Ltd. All rights reserved</p>
        </div>
    </div>
</body>
</html>